.space-contents {
    display: flex;
    justify-content: space-between;
    margin: 5% 10% 0% 10%;
    border-bottom: 1px solid rgba(175, 175, 175, 0.589);
}
.style-trend-type {
    text-align: left;
    color: rgb(116, 117, 117);
    font-size: small;
}
.style-tittle-trend{
    text-align: left;
    margin: 5% 0%;
    font-weight: bolder;
}
.style-tweets{
    text-align: left;
    color: rgb(116, 117, 117);
    font-size: small;
}
.icon-style-trends {
    font-size: 2em;
    color: rgb(125, 126, 126);
}
.input-style-search{
    height: 80%;
    width: 80%;
    border-radius: 2px;
    border: 1px solid rgba(219, 219, 219, 0); 
    background-color: rgba(219, 219, 219, 0);
}
.search-style-trends {
    display: flex;
    border: 1px solid rgba(219, 219, 219, 0);
    background-color: rgba(219, 219, 219, 0);
    height: 4%;
    width: 80%;
    margin-top: 5%;
    padding: 3% 0% 3% 7%;
    position: relative;
    margin-left: 5%;
    border-bottom: solid rgb(102, 102, 102) 1px;
}